/**************************************************************/
/**************************************************************/
/**************************************************************/
/*************************** STYLES ***************************/
/**************************************************************/
/**************************************************************/
/**************************************************************/

@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');

/* GENERAL */

.img-responsive {max-width:100%;height:auto;display:block;}
.padding-0 {padding:0;}
.fixed-top {position:absolute;}
.bg-nav {background-color:rgba(0, 88, 131, 0.59);}


body {font-family: 'Oxygen', sans-serif !important;}



/* DESK */

.header-home {background:url(../img/C_background.jpg);background-attachment:fixed;background-size:cover;background-repeat:no-repeat;background-position:center;width:100%;height:100vh;position: relative;display:flex;justify-content:center;align-items:center;}
.header-home h3 {font-family: 'Oxygen', sans-serif;color: #005883;font-size: 1.5rem;margin: 35px 0 0;line-height: 35px;}


.header-internas .container {margin-top:auto;margin-bottom:20px;}
.header-internas {background:url(../img/C_background.jpg);background-attachment:fixed;background-size:cover;background-repeat:no-repeat;background-position:center;width:100%;height:15rem;position: relative;display:flex;justify-content:center;align-items:center;}
.header-internas h3 {font-family: 'Oxygen', sans-serif;color: #005883;font-size:1.8rem;font-weight:600;margin: 35px 0 0;line-height: 35px;}

.navbar-expand-lg .navbar-nav .nav-link {font-size: 0.84rem;font-family: 'Oxygen', sans-serif;margin-top: 15px;letter-spacing: 0.2px;}

.boxes-text-home .row {margin:0;}
.boxes-text-home p {font-family: 'Oxygen', sans-serif;color: #005883;font-size: 1.3rem;margin: 0 0 30px;display: block;}
.boxes-text-home .btn-home {border: 1px #619ab6 solid;color: #619ab6;padding: 10px 20px;display: inline-block;}

.boxes-text-home .box-text {display: flex;justify-content: center;align-items: flex-start;flex-direction: column;padding: 120px;text-align: left;}

.back-home-serv {background:url(../img/C_home_serv.jpg);background-position:center;background-size:cover;padding:100px 0;display:flex;justify-content:center;align-items:center;background-repeat:no-repeat;}
.back-home-serv h3 {color: #fff;font-size: 2.4rem;letter-spacing: 1px;}
.back-home-serv h5 {color: #fff;margin: 0;}
.back-home-serv h6 {color: #fff;font-size: 1.57rem;font-weight: bold;margin-bottom: 15px;}
.border-enlace {color: #fff;border: 2px #fff solid;width: 30px;transition:.6s;display: inline-block;line-height: 25px;height: 30px;border-radius: 100%;font-weight: bold;font-size: 1.3rem;text-align: center;}
.border-enlace:hover,.border-enlace:focus,.border-enlace:active  {text-decoration:none;opacity:.6;transition:.6s;color: #fff;}
.back-home-serv hr {border-top: 3px solid #a9b6bd;display: inline-block;width: 95px;margin-top: 5px;margin-bottom: 75px;}

.back-home-links {background:url(../img/C_home_links.jpg);background-size:cover;background-position:center;background-repeat:no-repeat;padding:100px 0;display:flex;justify-content:center;align-items:center;}
.back-home-links p {color: #005883;font-size: 2.3rem;font-weight: 500;margin-bottom: 10px;letter-spacing: 1px;}

.text-links p {color: #909293;font-weight: 500;font-size: 1.1rem;margin: 55px 0;}
.text-links p strong {color:#005883;}
.text-links p a {color:inherit;transition:.6s;}
.text-links p a:hover, .text-links p:active, .text-links p:focus {color:inherit;text-decoration:none;opacity:.6;transition:.6s;}


.text-nostros p {color: #005883;margin: 35px 0px 0;text-align: center;line-height: 27px;font-size: 1.2rem;font-weight: 500;}
.text-nostros h3 {text-align: center;margin: 40px 0 0;padding: 0;font-size: 1.3rem;color:#a9b6bd;}
.text-nostros h4 {color: #005883;font-weight: bold;font-size: 1.2rem;margin-top: 35px;}
.text-nostros h5 {color: #909293;line-height: 22px;font-size: 0.97rem;}
.text-nostros h6 {color: #005883;font-weight: bold;margin-bottom: 15px;}

.text-nosotros-bottom {background:#005883;padding:80px 0;margin-top: 20px;}
.text-nosotros-bottom h3 {color: #fff;border-bottom: 3px #a9b6bd solid;display: inline-block;padding: 7px;margin-bottom: 35px;}
.text-nosotros-bottom p {color:#fff;font-size: 1.1rem;line-height: 30px;}

.text-servicios h3 {color: #005883;font-size: 1.3rem;margin: 25px 0;font-weight: 500;}

.text-servicios ul {padding:0;margin: 30px 0 45px;}
.text-servicios ul li {text-align: left;font-weight: 500;line-height: 25px;margin-bottom: 5px;color: #909293;}

footer {background: #033954;padding: 25px 0;}

footer ul {list-style:none;padding:0;}
footer ul li {display: inline-block;margin: 0 6px;color: #768894;font-size: 0.82rem;}