    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-2"><img src="img/C_logo_foot.png" class="img-responsive"></div>
          <div class="col-xs-12 col-sm-5"></div>
          <div class="col-xs-12 col-sm-5">
            <ul>
              <li>HOME</li>
              <li>NOSOTROS</li>
              <li>SERVICIOS</li>
              <li>CLIENTES</li>
              <li>LINKS</li>
              <li>CONTACTO</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">
      $(document).ready( function () {
          var pathname = (window.location.pathname.match(/[^\/]+$/)[0]);
          $(".navbar .home").removeClass("active");
          $(".navbar li a[href='" + pathname  + "']").addClass("active");
      });
    </script>

  </body>

</html>