<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-nav fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="img/C_logo.png" class="img-responsive"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item home active">
              <a class="nav-link" href="/">HOME
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="nosotros.php">NOSOTROS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#servicios">SERVICIOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CLIENTES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="links.php">LINKS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONTACTO</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>